* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

body {
    background: #161616;
    height: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: #161616;
    opacity: 0.8;
}

.overlay-gradient {
    background: rgb(22,22,22);
    background: linear-gradient(180deg, rgba(22,22,22,0) 0%, rgba(22,22,22,1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
}

.nav {
    box-shadow: 0px -1px 26px -2px rgba(0,0,0,0.95);
    backdrop-filter: blur(10px);
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 10px;

    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    z-index: 1000;

    transition: all 0.25s ease;

    &.hidden {
        opacity: 0;
        pointer-events: none;
        top: 0;
    }

    .logo {
        font-size: 1.2rem;
        font-weight: 900;
        font-style: italic;
        background: #232323;
        border-radius: 100%;
        width: 30px;
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        color: white;
        text-decoration: none;
    }

    ul {
        list-style: none;
        display: flex;
        margin: 0 10px;

        li {
            margin: 0 5px;

            .contact {
                background: #3577D9;
                padding: 3px 10px;
                border-radius: 100px;
                margin-right: -10px;
            }
        }
    }
}

.hero {
    height: 100vh;
    width: 100%;

    background: url('../img/herobg.jpg');
    background-position: center;
    background-size: cover;

    position: relative;

    .wrapper {
        position: absolute;
        z-index: 100;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        text-align: center;

        .title {
            font-size: 4rem;
            font-weight: 700;
        }

        .subtitle {
            font-size: 1.3rem;
            color: #777777;
            margin-bottom: 30px;
        }

        .buttons {
            display: inline-block;
            
            .btn {
                border: none;

                &.secondary {
                    border: none;
                }
            }
        }
    }


}

.scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 1000;
    
    transform: translateX(-50%);
    pointer-events: none;
    transition: all 0.25s ease;

    cursor: pointer;

    img {
        width: 3rem;
    }

    &.hidden {
        opacity: 0;
        bottom: 0;
    }
}

.btn {
    font-size: 1.2rem;
    padding: 5px 20px;
    border-radius: 7px;
    cursor: pointer;

    &:focus {
        outline: none;
        background: #3c74c7;
    }

    &.primary {
        background: #3577D9;
    }

    &.secondary {
        background: #6E6E6E;
    }
}

.featureset {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 1.6rem;
    }

    .features {
        margin-top: 30px;
        display: flex;
        
        .feature {
            display: flex;
            align-items: center;
            padding: 30px;
    
            .icon {
                margin-right: 10px;
                background: #3577D9;
                border-radius: 100%;
                width: 40px;
                height: 40px;
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 1.6rem;
                }
            }
    
            .text {
                .title {
                    font-size: 1.3rem;
                }
    
                .subtitle {
                    color: rgb(186, 186, 186);
                }
            }
        }
    }
}

.pricing {
    text-align: center;
    margin-top: 70px;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-size: 3rem;
            font-weight: 800;
        }

        .billingplan {
            margin-top: 30px;
            margin-bottom: 70px;

            display: flex;
            flex-direction: row;

            cursor: pointer;

            .monthly {
                width: 190px;
                height: 50px;
                background: #3B3B3B;
                
                display: flex;
                justify-content: center;
                align-items: center;

                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            .yearly {
                width: 190px;
                height: 50px;
                background: #3B3B3B;
                
                display: flex;
                justify-content: center;
                align-items: center;

                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }

            .active {
                background: #3577D9;
            }
        }

        .plans {
            display: flex;
            flex-direction: row;
            align-items: center;

            .plan {
                background: #3B3B3B;
                width: 350px;
                height: max-content;
                padding: 30px;
                
                display: flex;
                flex-direction: column;
                align-items: center;

                box-shadow: -1px -1px 26px -2px rgba(0,0,0,0.59);

                .title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    margin-bottom: 40px;

                    .icon {
                        background: #575757;
                        border-radius: 100%;
                        width: 60px;
                        height: 60px;
                        margin-right: 10px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 50px;
                        }

                        &.elite {
                            img {
                                transform: rotate(45deg);
                            }
                        }
                    }

                    .desc {
                        font-size: 1.3rem;
                        font-weight: 400;
                        text-align: left;

                        .titleText {
                            font-weight: 600;
                            font-size: 1.5rem;
                        }
                    }
                }

                ul {
                    width: 80%;
                    margin-bottom: 20px;

                    li {
                        display: flex;
                        margin-bottom: 20px;

                        .check {
                            background: #2F5895;
                            width: 20px;
                            height: 20px;
                            border-radius: 100px;
                            border: 2px solid #3577D9;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            margin-right: 10px;

                            img {
                                width: 20px;
                                color: #3577D9;
                            }
                        }
                    }
                }

                .price {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    margin-bottom: 10px;

                    .nr {
                        font-size: 2rem;
                        font-weight: 600;
                        margin-bottom: -6px;
                    }
                }

                .button {
                    background: #3577D9;
                    width: 100%;
                    height: 30px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 16px;
                    cursor: pointer;

                    &.pro {
                        background: #3B3B3B;
                    }
                }
            }

            #basic {
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;

                border: 3px solid #3577D9;
                border-right: none;

                z-index: 1;
            }

            #pro {
                border-radius: 16px;
                background: #3577D9;
                
                z-index: 2;
            }

            #elite {
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;

                border: 3px solid #3577D9;
                border-left: none;

                z-index: 1;
            }
        }
    }
}